<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.members.dao.MembersDao">
	<insert id="insertNewMember"
		parameterType="com.ktdsuniversity.edu.members.vo.MembersVO">
		INSERT INTO MEMBERS
		(EMAIL, NAME, PASSWORD)
		VALUES
		(#{email}
		,#{name}
		,#{password})
	</insert>


	<!-- MembersVO selectMemberByEmail(String email); -->
	<select id="selectMemberByEmail" parameterType="string"
		resultType="com.ktdsuniversity.edu.members.vo.MembersVO">
		SELECT EMAIL
		, NAME
		, PASSWORD
		FROM MEMBERS
		WHERE EMAIL =
		#{email}
	</select>

	<update id="updateMemberByEmail"
		parameterType="com.ktdsuniversity.edu.members.vo.request.UpdateVO">
		UPDATE MEMBERS
		SET NAME=#{name}
		, PASSWORD=#{password}
		WHERE EMAIL = #{email}
	</update>

	<delete id="deleteMemberByEmail" parameterType="string">
		DELETE MEMBERS
		WHERE EMAIL = #{_parameter}
	</delete>

	<select id="selectMemberList"
		resultType="com.ktdsuniversity.edu.members.vo.MembersVO">
		SELECT EMAIL
		, NAME
		, PASSWORD
		FROM MEMBERS
	</select>
	<select id="selectCountMember" resultType="_int">
		SELECT COUNT(EMAIL)
		FROM MEMBERS
	</select>



</mapper> 