<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.files.dao.FilesDao">
	<insert id="insertAttachFile"
	parameterType="com.ktdsuniversity.edu.files.vo.request.UploadVO">
    INSERT INTO SPRING_BOOT.FILES
     (FILE_NUM
    , FILE_GROUP_ID
    , OBFUSCATE_NAME
    , DISPLAY_NAME
    , EXTEND_NAME
    , FILE_LENGTH
    , FILE_PATH)
     VALUES
     (#{fileNum}
    , #{fileGroupId}
    , #{obfuscateName}
    , #{displayName}
    , #{extendName}
    , #{fileLength}
    , #{filePath})
    </insert>

</mapper> 