<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.board.dao.BoardDao">

    <select id="selectBoardCount"
            parameterType="com.ktdsuniversity.edu.board.vo.request.SearchListVO" 
            resultType="_int">
        SELECT COUNT(B.ID)
          FROM BOARD B
         INNER JOIN MEMBERS M
            ON B.EMAIL = M.EMAIL
           <if test='searchKeyword != null and searchKeyword != ""'>
            <if test='searchType == "email"'>
         WHERE M.EMAIL LIKE '%' || #{searchKeyword}|| '%'
            </if>
             <if test='searchType == "name"'>
         WHERE M.NAME LIKE '%' || #{searchKeyword}|| '%'
           </if>
            <if test='searchType == "subject"'>
         WHERE B.SUBJECT LIKE '%' || #{searchKeyword}|| '%'
           </if>
            <if test='searchType == "content"'>
         WHERE B.CONTENT LIKE '%' || #{searchKeyword}|| '%'
           </if>
            <if test='searchType == "subject content"'>
         WHERE B.SUBJECT LIKE '%' || #{searchKeyword}|| '%'
            OR B.CONTENT LIKE '%' || #{searchKeyword}|| '%'
            </if>
           </if>
    </select>
    
	<select id="selectBoardList" 
	        parameterType="com.ktdsuniversity.edu.board.vo.request.SearchListVO"
	        resultMap="BoardVOMap">
	        
	    
	    SELECT *
          FROM (SELECT S.*
                     , ROWNUM AS RNUM
                  FROM ( SELECT B.ID
			                  , B.SUBJECT
			                  , B.CONTENT
			                  , B.EMAIL
			                  , B.VIEW_CNT
			                  , TO_CHAR(B.CRT_DT, 'YYYY-MM-DD HH24:MI:SS') AS CRT_DT
			                  , TO_CHAR(B.MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') AS MDFY_DT
			                  , B.FILE_NAME
			                  , B.ORIGIN_FILE_NAME
			                  , M.NAME
			                  , M.REGIST_DATE
			               FROM BOARD B
                          INNER JOIN MEMBERS M
                             ON B.EMAIL = M.EMAIL
                             <if test='searchKeyword != null and searchKeyword != ""'>
                             <if test='searchType == "email"'>
				          WHERE M.EMAIL LIKE '%' || #{searchKeyword}|| '%'
				             </if>
				              <if test='searchType == "name"'>
				          WHERE M.NAME LIKE '%' || #{searchKeyword}|| '%'
				            </if>
				             <if test='searchType == "subject"'>
				          WHERE B.SUBJECT LIKE '%' || #{searchKeyword}|| '%'
				            </if>
				             <if test='searchType == "content"'>
				          WHERE B.CONTENT LIKE '%' || #{searchKeyword}|| '%'
				            </if>
				             <if test='searchType == "subject content"'>
				          WHERE B.SUBJECT LIKE '%' || #{searchKeyword}|| '%'
				             OR B.CONTENT LIKE '%' || #{searchKeyword}|| '%'
				             </if>
				             </if>
                          ORDER BY B.ID DESC) S
                 WHERE ROWNUM <![CDATA[ <= ]]> (#{pageNo} + 1) * #{listSize})
         WHERE RNUM >= #{pageNo} * #{listSize} + 1    
		      
	</select>
	
	<insert id="insertNewBoard" 
	        parameterType="com.ktdsuniversity.edu.board.vo.request.WriteVO">
	<!-- 새롭게 만들어지는 게시글의 PK를 미리 생성해서 WriteVO의 id라는 변수에 할당한다 -->
	<selectKey order="BEFORE" 
	           resultType="string"
	           keyProperty="id"> <!-- insert이전에 수행해라, writevo에는 새로운 아이디 -->
	   SELECT 'BO-' || TO_CHAR(SYSDATE, 'YYYYMMDD-') || LPAD(SEQ_BOARD_PK.NEXTVAL, 6, '0')
	     FROM DUAL
	</selectKey>
	INSERT INTO BOARD
	        (ID
             , SUBJECT
             , CONTENT
             , EMAIL
             , VIEW_CNT
             , CRT_DT
             , MDFY_DT
             , FILE_NAME
             , ORIGIN_FILE_NAME
             , FILE_GROUP_ID)
             VALUES
              (#{id}
             , #{subject}
             , #{content}
             , #{email}
             , 0
             , SYSDATE
             , SYSDATE
             , NULL
             , NULL
             , #{fileGroupId}
            )
             
	</insert>
	
	<!-- JOIN을 사용하는 쿼리의 결과를
	   Has A를 사용하는 VO에게 값을 할당하기 위한 태그 -->

    <resultMap type="com.ktdsuniversity.edu.board.vo.BoardVO" 
               id="BoardVOMap"
               autoMapping="true">
     <!-- 쿼리에 사용되는 테이블의 PK값을 변수에 저장할 때 사용 -->
    <id column="ID" property="id"/>
     <!-- 쿼리에 사용되는 테이블의 일반 컬럼의 값을 변수에 저장할 때 사용 -->    
          <!--  
          <result column="SUBJECT" property ="subject"/>
          <result column="CONTENT" property ="content"/>
          <result column="EMAIL" property ="email"/>
          <result column="VIEW_CNT" property ="viewCnt"/>
          <result column="CRT_DT" property ="crtDt"/>
          <result column="MDFY_DT" property ="mdfyDt"/>
          <result column="FILE_NAME" property ="fileName"/>
          <result column="ORIGIN_FILE_NAME" property ="originFileName"/>-->
      <!-- 단일 VO에게 값을 할당하는 방법 
           하나의 ResultMap에서 collection과 association이 동시에 사용될 때
           colledction이 가장 마지막에 위치해야한다
       -->
      <association property="membersVO"
                   javaType="com.ktdsuniversity.edu.members.vo.MembersVO"
                   autoMapping="true">
               <id column="EMAIL" property="email" />
      </association>
   
      <!-- BoardVO에 있는 list는 <collection> 태그 이용 -->
    <collection property="files"
                javaType="list"
                ofType="com.ktdsuniversity.edu.files.vo.FilesVO"
                autoMapping="true"> <!-- java.util.list -->
                <id column="FILE_NUM" property="fileNum"/>
                <id column="FILE_GROUP_ID" property="fileGroupId"/>
                <!-- <result column="OBFUSCATE_NAME" property ="obfuscateName"/>
                <result column="DISPLAY_NAME" property ="displayName"/>
                <result column="EXTEND_NAME" property ="extendName"/>
                <result column="FILE_LENGTH" property ="fileLength"/>
                <result column="FILE_PATH" property ="filePath"/> -->
    </collection>
 </resultMap>
	<select id="selectBoardById"
            resultMap="BoardVOMap"
		    parameterType="string">
		  SELECT B.ID
               , B.SUBJECT
               , B.CONTENT
               , B.EMAIL
               , B.VIEW_CNT
               , TO_CHAR(B.CRT_DT, 'YYYY-MM-DD HH24:MI:SS') AS CRT_DT
               , TO_CHAR(B.MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') AS MDFY_DT
               , B.FILE_NAME
               , B.ORIGIN_FILE_NAME
               , F.FILE_NUM
               , F.FILE_GROUP_ID
               , F.OBFUSCATE_NAME
               , F.DISPLAY_NAME
               , F.EXTEND_NAME
               , F.FILE_LENGTH
               , F.FILE_PATH
               , M.NAME
               , TO_CHAR(M.REGIST_DATE, 'YYYY-MM-DD HH24:MI:SS') AS REGIST_DATE
            FROM BOARD B
           INNER JOIN MEMBERS M
              ON B.EMAIL=M.EMAIL
            LEFT OUTER JOIN (SELECT F.FILE_NUM
                                  , FG.FILE_GROUP_ID
                                  , F.OBFUSCATE_NAME
                                  , F.DISPLAY_NAME
                                  , F.EXTEND_NAME
                                  , F.FILE_LENGTH
                                  , F.FILE_PATH
                               FROM FILES_GROUP FG
                              INNER JOIN FILES F
                                 ON FG.FILE_GROUP_ID = F.FILE_GROUP_ID ) F
              ON B.FILE_GROUP_ID = F.FILE_GROUP_ID
           WHERE ID = #{_parameter}
		    </select>

	<update id="updateViewCntIncreaseById"
	        parameterType="string">
	   UPDATE BOARD
   SET VIEW_CNT = VIEW_CNT + 1
 WHERE ID = #{_parameter}
	</update>
	
	<delete id="deleteBoardByArticleId"
	        parameterType="string">
        DELETE
          FROM BOARD
         WHERE ID = #{_parameter}
	</delete>
	<update id="updateboardById" 
	        parameterType="com.ktdsuniversity.edu.board.vo.request.UpdateVO">
	UPDATE BOARD
       SET SUBJECT=#{subject}
         , CONTENT=#{content}
         , MDFY_DT= SYSDATE
         , FILE_GROUP_ID=#{fileGroupId}
     WHERE ID=#{id}
	</update>
	
	<select id="selectFileInBoard"
            resultType="string">
        SELECT F.FILE_PATH 
          FROM BOARD B
         INNER JOIN FILES F
            ON B.FILE_GROUP_ID = F.FILE_GROUP_ID
    </select>
    
    <delete id="deleteAllBoard">
        DELETE
          FROM BOARD
    </delete>
   
    
</mapper>