<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.board.dao.BoardDao">

    <select id="selectBoardCount" resultType="_int">
        SELECT COUNT(ID)
          FROM BOARD
    </select>
    
	<select id="selectBoardList" resultType="com.ktdsuniversity.edu.board.vo.BoardVO">
        SELECT ID
             , SUBJECT
             , CONTENT
             , EMAIL
             , VIEW_CNT
             , TO_CHAR(CRT_DT, 'YYYY-MM-DD HH24:MI:SS') AS CRT_DT
             , TO_CHAR(MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') AS MDFY_DT
             , FILE_NAME
             , ORIGIN_FILE_NAME
          FROM BOARD
	</select>
	<insert id="insertNewBoard" parameterType="com.ktdsuniversity.edu.board.vo.request.WriteVO">
	INSERT INTO BOARD
	        (ID
             , SUBJECT
             , CONTENT
             , EMAIL
             , VIEW_CNT
             , CRT_DT
             , MDFY_DT
             , FILE_NAME
             , ORIGIN_FILE_NAME)
             VALUES
             ('BO-' || TO_CHAR(SYSDATE, 'YYYYMMDD-') || LPAD(SEQ_BOARD_PK.NEXTVAL, 6, '0')
             , #{subject}
             , #{content}
             , #{email}
             ,0
             ,SYSDATE
             ,SYSDATE
             ,NULL
             ,NULL)
             
	</insert>

	<select id="selectBoardById"
		    resultType="com.ktdsuniversity.edu.board.vo.BoardVO"
		    parameterType="string">
		   SELECT ID
             , SUBJECT
             , CONTENT
             , EMAIL
             , VIEW_CNT
             , TO_CHAR(CRT_DT, 'YYYY-MM-DD HH24:MI:SS') AS CRT_DT
             , TO_CHAR(MDFY_DT, 'YYYY-MM-DD HH24:MI:SS') AS MDFY_DT
             , FILE_NAME
             , ORIGIN_FILE_NAME
          FROM BOARD
          WHERE ID = #{_parameter}
		    </select>

	<update id="updateViewCntIncreaseById"
	parameterType="string">
	   UPDATE BOARD
   SET VIEW_CNT = VIEW_CNT + 1
 WHERE ID = #{_parameter}
	</update>
	
	<delete id="deleteBoardByArticleId"
	parameterType="string">
	DELETE BOARD
	 WHERE ID = #{_parameter}
	</delete>
	<update id="updateboardById" parameterType="com.ktdsuniversity.edu.board.vo.request.UpdateVO">
	UPDATE SPRING_BOOT.BOARD
       SET SUBJECT=#{subject}
         , CONTENT=#{content}
         , EMAIL=#{email}
         , MDFY_DT= SYSDATE
     WHERE ID=#{id}
	</update>
   
    
</mapper>