@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
}

/* grid style 시작 */
div.grid {
  display: grid;
}

div.grid > div.btn-group {
  grid-column: 1 / -1;
}

div.grid > div.btn-group > div.right-align {
  text-align: right;
}

div.grid > label {
  padding-left: 0.625rem;
}

div.grid input,
div.grid button,
div.grid textarea {
  padding: 0.625rem;
}
/* grid style 끝 */
